.view {
    height: 100vh;
}

.remove-margin {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 150px;
}

.align-text-left {
    text-align: left;
}

.alert-danger {
    color: red;
    background-color: white;
    border-color: white
}

.inputVal{
    padding-top: 5px;
}

