
<!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" style="z-index: 1">
        <div class="" style="padding-top: 100px">
            <div class="list-group list-group-flush">
                <h2><mdb-badge style="width: 100%" color="red">Quản Lý Tài Khoản</mdb-badge></h2>
                <div>
                  <a routerLink="/user/profile/information" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                  <i class="fa fa-user mr-3"></i>Thông Tin</a>
                </div>
                <div>
                  <a routerLink="/user/profile/update" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                  <i class="fa fa-info-circle mr-3"></i>Cập Nhật Thông Tin</a>
                </div>
                <div>
                  <a routerLink="/user/profile/change-password" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                  <i class="fa fa-wrench mr-3"></i>Đổi Mật Khẩu</a>
                </div>
                
              </div>
        </div>      
      </div>
<!-- Sidebar -->
