<div class="view">
    <div class="row remove-margin">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <!-- Material form login -->
            <mdb-card>

                <mdb-card-header class="info-color white-text text-center py-4">
                    <h5>
                        <strong>Cập Nhật Mật Khẩu</strong>
                    </h5>
                </mdb-card-header>


                <!--Card content-->
                <mdb-card-body class="px-lg-5 pt-0">

                    <!-- Form -->
                    <form [formGroup]="changePassword" (ngSubmit)="doChangePassword()" class="text-center" style="color: #757575;">

                        <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>

                         <!-- Password -->
                         <div class="md-form align-text-left" style="padding-bottom: 20px">
                                <input formControlName="oldPassword" type="password"  id="oldPassword" class="form-control" [errorMessage]="'Required'" [validateSuccess]="false" mdbInputDirective>
                                <label for="materialLoginFormEmail"><i class="fa fa-lock" aria-hidden="true"></i> Mật Khẩu Hiện Tại</label>
                            </div>

                            <!-- Password -->
                         <div class="md-form align-text-left">
                                <input formControlName="newPassword" type="password" id="newPassword" class="form-control" [errorMessage]="'Required'" [validateSuccess]="false" mdbInputDirective>
                                <label for="formphone"><i class="fa fa-lock" aria-hidden="true"></i> Mật Khẩu Mới</label>
                            </div>

                        <!-- Sign in button -->
                        <div class="form-row">
                            <div class="col">
                                <button mdbBtn color="danger" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                                    mdbWavesEffect type="button" (click)="cancelUpdate()">HỦY</button>

                            </div>
                            <div class="col">
                                <button [disabled]="changePassword.invalid" mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                                    mdbWavesEffect type="submit">CẬP NHẬT</button>
                            </div>
                        </div>

                    </form>
                    <!-- Form -->

                </mdb-card-body>

            </mdb-card>
            <!-- Material form login -->
        </div>
    </div>
</div>