<!-- Sidebar -->
<div class="container" style="padding-top: 150px;padding-top: 100px;">
  <div class="list-group list-group-flush">
    <div class="row">
      <div class="col">
        <mdb-card>
          <mdb-card-header class="danger-color white-text text-center py-4">
            <h5 style="font-size: 25px">
              <strong><b>Coming Soon!</b></strong>
            </h5>
          </mdb-card-header>

          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">
            <!-- Form -->
            <!-- <div class="mapouter" style="margin: 0 auto">
              <div class="gmap_canvas"><iframe width="1200" height="700" id="gmap_canvas" src="https://maps.google.com/maps?q=11 30 58N, 106 53 47E&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div> -->
            <!-- Form -->

          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar -->