.view {
    height: auto;
}

.remove-margin {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.align-text-left {
    text-align: left;
}

.alert-danger {
    color: red;
    background-color: white;
    border-color: white
}

span{
    padding-top: 5px;
}

